{% extends 'base.html.twig' %}

{% block title %}Oles Dmytrenko{% endblock %}

{% block header %}
    <div id="header">
        <div class="container">
            <div class="row" name="header-row">
                <div id="header-title" class="col-md-4" itemscope itemtype="https://schema.org/Organization">
                    <a href="{{ path('home_page') }}" itemprop="url">
                        <span name="title" itemprop="name">Oles Dmytrenko</span>
                    </a>
                    <span itemscope itemtype="http://schema.org/Person">
                        <span name="author" itemprop="name">--- smile a lot ---</span>
                    </span>
                </div>
                <div id="header-nav" class="col-md-8">
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto" name="navbar-items">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">КЕК</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Лоток кота</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Блог</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Психология</a>
                                        <a class="dropdown-item" href="#">Философия</a>
                                        <a class="dropdown-item" href="#">Программирование</a>
                                        <a class="dropdown-item" href="#">Жиза</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Галерея</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Выход в космос</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>        
    </div>
{% endblock %}

{% block footer %}
    <div id="footer">Footer</div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('default/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('default/css/main.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('default/components/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('default/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('default/js/main.js') }}"></script>
{% endblock %}
